@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700;800&display=swap");

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #13183f;
}

#root {
  width: 80%;
  max-width: 1110px;
  margin: 66px auto;
}

h1 {
  font-size: 36px;
  line-height: 45px;
  font-weight: 800;
  opacity: 0.4;
  text-align: right;
}

section {
  margin: 80px 0;
}

h2 {
  color: #83869a;
  font-size: 40px;
  line-height: 50px;
  font-weight: 800;
  margin-bottom: 41px;
}

.colors {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.color {
  width: 255px;
  height: 125px;
  border-radius: 10px;
}

.blue-gray {
  background-color: #666ca1;
}

.dark-blue {
  background-color: #13183f;
}

.gray {
  background-color: #83869a;
}

.dark-pink {
  background-color: #f74780;
}

.pink {
  background-color: #ffa7c3;
}

.white {
  background-color: #fff;
  border: 1px solid #bababa;
}

.orange-pink-gradient {
  background: linear-gradient(180deg, #ff6f48 0.04%, #f02aa6 100%);
}

.purple-pink-gradient {
  background: linear-gradient(180deg, #4851ff 0%, #f02aa6 99.92%);
}

.hex {
  font-size: 24px;
  font-weight: 800;
  line-height: 30px;
  text-transform: uppercase;
  margin: 24px 0 16px;
}

.hex::before {
  content: "#";
  opacity: 0.25;
}

table {
  font-size: 16px;
  line-height: 28px;
}

th {
  color: #83869a;
}

th,
td {
  padding: 3px 30px 3px 0;
}

.typography {
  display: flex;
  justify-content: space-between;
}

.headings {
  width: 55%;
  font-weight: 800;
}

.headings > div,
.bodies > div {
  margin-bottom: 30px;
}

ul {
  display: flex;
  gap: 16px;
  margin-bottom: 8px;
}

li {
  color: #83869a;
  font-size: 16px;
  line-height: 28px;
}

li.font-size {
  font-weight: 700;
}

.heading-xl p {
  font-size: 56px;
  line-height: 71px;
}

.heading-l p {
  font-size: 40px;
  line-height: 51px;
}

.heading-m p {
  font-size: 32px;
  line-height: 40px;
}

.heading-s p {
  font-size: 24px;
  line-height: 28px;
}

.bodies {
  width: 45%;
  color: #83869a;
  line-height: 28px;
}

.body-m {
  font-size: 18px;
  font-weight: 500;
}

.body-s {
  font-size: 16px;
  font-weight: 700;
}

.buttons {
  display: flex;
  gap: 30px;
  text-align: center;
}

.buttons > div {
  width: 350px;
  height: 393px;
  background-color: rgba(131, 134, 154, 0.1);
  border-radius: 10px;
}

.button {
  width: 167px;
  height: 56px;
  border-radius: 28px;

  color: #fff;
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  margin: 65px auto 16px;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.buttons p {
  color: #83869a;
  font-size: 16px;
  line-height: 28px;
}

.hover .button:not(.blue-gray) {
  opacity: 0.5;
}
